<div class="login-container">
  <mat-card>
    <mat-card-header class="center-header">
      <mat-card-title>Sistema POS</mat-card-title>
      <mat-card-subtitle>Bienvenido</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group [(selectedIndex)]="selectedTabIndex" mat-stretch-tabs="false" mat-align-tabs="center">
        
        <mat-tab label="Ingresar">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="tab-form">
            
            <fieldset [disabled]="isLoading" style="border: none; padding: 0; margin: 0;">
              
              <mat-form-field class="full-width">
                <mat-label>Correo Electrónico</mat-label>
                <mat-icon matPrefix>email</mat-icon>
                <input matInput formControlName="email">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Contraseña</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput type="password" formControlName="password">
              </mat-form-field>

              <div class="actions">
                <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading" class="full-width-btn loading-btn">
                  @if(isLoading) { 
                    <mat-spinner diameter="24" color="accent" mode="indeterminate"></mat-spinner> 
                  } @else {
                    Iniciar Sesión
                  }
                </button>
              </div>

            </fieldset>
          </form>
        </mat-tab>

        <mat-tab label="Crear Cuenta">
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="tab-form">
            
            <fieldset [disabled]="isLoading" style="border: none; padding: 0; margin: 0;">
                <p class="hint-text">Ingresa tus datos para obtener una cuenta nueva.</p>
                
                <mat-form-field class="full-width">
                  <mat-label>Correo Electrónico</mat-label>
                  <mat-icon matPrefix>person_add</mat-icon>
                  <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Contraseña Nueva</mat-label>
                  <mat-icon matPrefix>vpn_key</mat-icon>
                  <input matInput type="password" formControlName="password">
                  <mat-hint>Mínimo 6 caracteres</mat-hint>
                </mat-form-field>

                <div class="actions">
                  <button mat-stroked-button color="accent" type="submit" [disabled]="registerForm.invalid || isLoading" class="full-width-btn loading-btn">
                    @if(isLoading) {
                      <mat-spinner diameter="24" color="accent" mode="indeterminate"></mat-spinner>
                    } @else {
                      Registrarse
                    }
                  </button>
                </div>
            </fieldset>
            
          </form>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>