.sidenav-container {
    height: 100vh; 
  }
  
  .sidenav {
    width: 250px; 
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .active-link {
    background-color: rgba(0, 0, 0, 0.05);
    border-right: 4px solid #3f51b5;
  }
  
  .main-content {
    padding: 20px;
  }